.vs/config/applicationhost.config
AutomataPDL/obj/Debug/AutomataPDL.csproj.FileListAbsolute.txt
LTLMSO/obj/Debug/LTLMSO.csproj.FileListAbsolute.txt
LTLMSOTest/obj/Debug/LTLMSOTest.csproj.FileListAbsolute.txt
MSOZ3/obj/Debug/MSOZ3.csproj.FileListAbsolute.txt
MSOZ3Test/obj/Debug/MSOZ3Test.csproj.FileListAbsolute.txt
Mona/obj/Debug/Mona.csproj.FileListAbsolute.txt
MonaTest/obj/Debug/MonaTest.csproj.FileListAbsolute.txt
ProblemGenerationTest/obj/Debug/ProblemGenerationTest.csproj.FileListAbsolute.txt
PumpingLemma/obj/Debug/PumpingLemma.csproj.FileListAbsolute.txt
PumpingLemmaTest/obj/Debug/PumpingLemmaTest.csproj.FileListAbsolute.txt
TestPDL/obj/Debug/TestPDL.csproj.FileListAbsolute.txt
WebServicePDL/bin/WebServicePDL.dll.config
WebServicePDL/obj/Debug/WebServicePDL.csproj.FileListAbsolute.txt
TestResults/
AutomataPDL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MSOZ3Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MSOZ3Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MSOZ3Test/obj/Release/build.force
MSOZ3Test/obj/x86/Debug/MSOZ3Test.csproj.FileListAbsolute.txt
MSOZ3Test/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MSOZ3Test/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MSOZ3Test/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MonaTest/obj/Debug/build.force
ProblemGenerationTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProblemGenerationTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProblemGenerationTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProblemGenerationTest/obj/Release/build.force
ProblemGenerationTest/obj/x86/Debug/ProblemGenerationTest.csproj.FileListAbsolute.txt
ProblemGenerationTest/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProblemGenerationTest/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProblemGenerationTest/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PumpingLemma/obj/x86/Debug/PumpingLemma.csproj.FileListAbsolute.txt
PumpingLemmaTest/obj/Release/build.force
PumpingLemmaTest/obj/x86/Debug/PumpingLemmaTest.csproj.FileListAbsolute.txt
WebServicePDL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebServicePDL/obj/Release/build.force
WebServicePDL/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebServicePDL/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebServicePDL/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MSOZ3Test/DotFiles/endsinab.dot
MSOZ3Test/DotFiles/exfirst.dot
MSOZ3Test/DotFiles/exlast.dot
MSOZ3Test/DotFiles/lengthone.dot
MSOZ3Test/DotFiles/leq.dot
MSOZ3Test/DotFiles/less.dot
MSOZ3Test/DotFiles/nota.dot
MSOZ3Test/DotFiles/sigmastar.dot
MSOZ3Test/DotFiles/singletona.dot
MSOZ3Test/DotFiles/startaorb.dot
MSOZ3Test/DotFiles/startb.dot
MSOZ3Test/DotFiles/true.dot
MSOZ3Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestPDL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestPDL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestPDL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestPDL/obj/Release/build.force
TestPDL/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestPDL/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestPDL/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestPDL/obj/x86/Debug/TestPDL.csproj.FileListAbsolute.txt
WebServicePDL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebServicePDL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutomataPDL/obj/x86/Debug/AutomataPDL.csproj.FileListAbsolute.txt
AutomataPDL/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutomataPDL/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutomataPDL/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutomataPDL/obj/x86/Release/build.force
LTLMSOTest/obj/Debug/build.force
MSOZ3/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MSOZ3/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MSOZ3/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MSOZ3/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MSOZ3/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MSOZ3/obj/Release/build.force
MSOZ3/obj/x86/Debug/MSOZ3.csproj.FileListAbsolute.txt
MSOZ3/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MSOZ3/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MSOZ3/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MSOZ3Test/DotFiles/a2b2.dot
MSOZ3Test/DotFiles/aafterb.dot
MSOZ3Test/DotFiles/ab.dot
MSOZ3Test/DotFiles/aba.dot
MSOZ3Test/DotFiles/bstar.dot
MSOZ3Test/DotFiles/containsab.dot
MSOZ3Test/DotFiles/endsina.dot
WebServicePDL/obj/x86/Debug/WebServicePDL.csproj.FileListAbsolute.txt
AutomataPDL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutomataPDL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MSOZ3/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
regexpenum.txt
/Games/bin/Debug
/Games/obj/Debug
/.vs/AutomataPDL/v14
/AutomataPDL/bin/x86/Debug
/AutomataPDL/obj/x86/Debug
/GamesTests/bin/Debug
/GamesTests/obj/Debug
/MSOZ3/bin/x86/Debug
/MSOZ3/obj/x86/Debug
/MSOZ3Test/bin/x86/Debug
/MSOZ3Test/obj/x86/Debug
/ProblemGenerationTest/bin/x86/Debug
/PumpingLemmaTest/bin/x86/Debug
/ProblemGenerationTest/obj/x86/Debug
/PumpingLemma/bin/x86/Debug
/PumpingLemma/obj/x86/Debug
/PumpingLemmaTest/obj/x86/Debug
/TestPDL/bin/x86/Debug
/TestPDL/obj/x86/Debug
/WebServicePDL/bin
/WebServicePDL/obj/x86/Debug
/WebServicePDL/Properties
.vs
